<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>ML API</title>
  <style>
body {
  background-color: black;
  text-align:center;
}
h1{
  color: white;
  padding-top: 100px;
}
div{
  border-color: white;
}
h4{
  color: white;
}

</style>
</head>

<body background ="black">
 <div class="login">
	<h1>FITARA CLASSIFICATION</h1>

     
    <form action="{{ url_for('predict')}}"method="post">
    <input type="textarea" rows="4" cols="50" name="interview_score" placeholder="doc" required="required" />
    <br><br>
      <div class="w3-dropdown-hover">
        <button type="submit" class="w3-button w3-black">Predict using Naive Bayes</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
    </div>
</div>
    </form>
 
	 
	 
    <form action="{{ url_for('predict2')}}"method="post">
    <input type="textarea" rows="4" cols="50" name="RNN" placeholder="doc" required="required" />
    <br><br>
      <div class="w3-dropdown-hover">
        <button type="submit" class="w3-button w3-black">Predict using RNN</button>
    <div class="w3-dropdown-content w3-bar-block w3-border">
    </div>
  </div>
    </form>
 

   <br>
   <br>
   <h4>
   {{ prediction_text }}
 </h4>

 </div>


</body>
</html>
